<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Transactions</title>

    </head>

    <body>
        <h1>
            This is page for transactions.
        </h1>
        <h2>
            You can find transactions here.
        </h2>
        <h3>
            But only transactions.
        </h3>

        <p>
            This is a paragraph. <!-- this is a comment -->
        </p>

        <p>
            Here are some linked pages: <a href="https://www.google.com">google</a>, <a href="https://www.wp.pl">wp</a>.
        </p>

        <p>
            Here is linked image: <a href="https://avatars.githubusercontent.com/u/116376977?v=4">img</a>.
        </p>
        
        <p>
            And here is the image:
            <img src="https://avatars.githubusercontent.com/u/116376977?v=4" alt="avatar">
        </p>

        <p>
            Here is linked zip file: <a href="http://speedtest.tele2.net/100KB.zip" download>zip</a>.
        </p>

        <p>
            Here is linked email: <a href="mailto:igopood33@gmail.com">email</a>.
        </p>
    </body>

</html>